grafana:
  service:
    type: NodePort
    nodePort: 32000

prometheus:
  service:
    type: NodePort
    nodePort: 32001

# This basically fixes the port on which these services will be running, otherwise k8s randomly gives port no. everytime