spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/ecommerce
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  cache:
    type: redis

  data:
    redis:
      host: redis
      port: 6379

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect